@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #fff;
  --base-clr: #e6e6ef;
  --sidebarLine-clr: #e6e6ee;
  --line-clr: #000;
  --hover-clr: #0369a1;
  --text-clr: #fff;
  --secondary-text-clr: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0e0e0;
    --foreground:   black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* @media (max-width: 800px) {
  header {
    display: none;
  }
} */


